@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');

@import url(./styles/root.css);
@import url(./styles/general.css);
@import url(./styles/header.css);
@import url(./styles/menu.css);
@import url(./styles/new-popular.css);
@import url(./styles/stocks-events-shops.css);
@import url(./styles/footer.css);