.footer {
    width: 100%;
    background: var(--dark-grey);
    margin-top: 38px;
}

.footer__content {
    margin-top: 32px;
}

.footer__first {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1312px;
}

.footer__address__tel {
    font-weight: 600;
    font-size: 24px;
    color: #F4F4F4;
    font-style: normal;
    transition: color 0.2s ease;
}

.footer__address__tel:hover {
    color: #A6A6A6;
}

.footer__address__text {
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    font-style: normal;
}

.social {
    display: flex;
    gap: 8px;
}

.social__icon {
    background: #393939;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social img {
    transition: filter 0.2s ease;
}

.social img:hover {
    filter: brightness(0) invert(1);
}

.footer__second {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 1312px;
}

.footer__logo {
    margin-top: 8px;
}

.footer__navigation {
    display: flex;
    padding: 0 16px;
    gap: 16px;
    color: #F4F4F4;
}

.footer__navigation__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.footer__navigation__link {
    font-weight: 600;
    font-size: 16px;
    color: #F4F4F4;
    transition: color 0.2s ease;
}

.footer__navigation__link:hover {
    color: #A6A6A6;
}

.appstore__icon {
    width: 138px;
    transition: content 0.2s ease;
}

.appstore__icon:hover {
    content: url("../images/icons/download/appstore-active.png");
}

.googleplay__icon {
    width: 138px;
    transition: content 0.2s ease;
}

.googleplay__icon:hover {
    content: url("../images/icons/download/googleplay-active.png");
}

.payment {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 1312px;
}

.copyright {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
}

.payment__navigation {
    display: flex;
    gap: 16px;
}

.payment__navigation__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.payment__navigation__link {
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    transition: color 0.2s ease;
}

.payment__navigation__link:hover {
    color: #FFFFFF;
}

.payment__cards {
    display: flex;
    gap: 8px;
}

.payment__icon {
    background: #393939;
    border-radius: 8px;
    cursor: pointer;
    width: 48px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__cards img {
    transition: filter 0.2s ease;
}

.payment__cards img:hover {
    filter: brightness(0) invert(1);
}

hr {
    margin: 32px auto;
    border-color: #393939;
    width: 1312px;
}

.preax {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    margin-bottom: 32px;
}

.preax a {
    color: #A6A6A6;
    text-decoration: underline;
    transition: color 0.2s ease;
}

.preax a:hover {
    color: white;
}