.new, 
.popular {
    padding: 32px 64px;
    min-width: 1312px;
}

.new__heading, 
.popular__heading {
    font-weight: 600;
    font-size: 40px;
    color: var(--dark-grey);
}

.new__items, 
.popular__items {
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}

.new__item, 
.popular__item {
    list-style-type: none;
}

.new__item__link, 
.popular__item__link {
    text-decoration: none;
    position: relative
}

.new__item__image, 
.popular__item__image{
    border-radius: 16px;
}

.new__item__heading, 
.popular__item__heading{
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-grey);
    margin-top: 16px;
}

.new__item__desc, 
.popular__item__desc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 4px;
    width: 304px;
    /*Ограничение строк*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    box-orient: vertical;
}

.new__item__buy, 
.popular__item__buy{
    width: 304px;
    margin-top: 16px;
    padding: 16px 0;
    background-color: #F4F4F4;
    font-family: inherit;
    border: none;
    border-radius: 16px;
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.new__item__buy:hover, 
.popular__item__buy:hover {
    background-color: #E8E8E8;
}

.product-icons {
    position: absolute;
    right: 8px;
    margin-top: -300px;
}

.leaves {
    background: #1DAA0F;
    padding: 10px;
    border-radius: 8px;
}

.sharp {
    background: #FC7D04;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
}

.seafood {
    background: #0094E4;
    padding: 10px;
    border-radius: 8px;
}